block navi
    ul.main-menu
        li
            a(href="/") MASK TRUE LOVE
        li
            form(action="/mask/search")
                input(name="address", placeholder="ex)광주광역시 북구 중흥동.....")