.form {
  display: flex;
}

.form input {
  flex: 1;
  font-size: 1rem;
  padding: 0.25rem;
  outline: none;
  border-radius: 5px;
}

.todo-insert {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  background-color: #cadbe9;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
